# Fixed region for this example
aws_region = "ap-southeast-1"

# Your public IP for SSH access
my_ip = "YOUR.IP.ADDRESS.HERE/32"

# Instance types (t3.micro is free tier eligible)
webapp_instance_type   = "t3.micro"
database_instance_type = "t3.micro"
bastion_instance_type  = "t3.micro"

# Enable VPC peering
enable_vpc_peering = true